<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories list</title>
  </head>
  <body>
    <ul>
      <% categories.forEach((category) => { %>
      <li class="category">
        <h1>Category: <%= category.name %></h1>
        <h2><%= category.description %></h2>
        <img
          src="<%= category.image_url %>"
          alt="image of <%= category.name %>"
        />
        <form action="/categories/<%= category.id %>/delete" method="post">
          <button type="submit">Delete category</button>
        </form>
        <a href="/categories/<%= category.id %>/edit">Update Category</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
