<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="list-main">
        <h1 class="items-for">Items for <%= entityName %></h1>
        <ul class="list">
          <% items.forEach(item => { %>
          <li class="list-item">
            <h1 class="heading"><%= item.name %></h1>
            <h2 class="description">Description: <%= item.description %></h2>
            <p class="description">Price: <%= item.price %></p>
            <p class="description">
              Stock Quantity: <%= item.stock_quantity %>
            </p>
            <p class="description">Category: <%= item.category_name%></p>
            <p class="description">Type: <%= item.type_name%></p>
            <p class="description">
              Manufacturer: <%= item.manufacturer_name%>
            </p>

            <p>
              <img
                class="img"
                src="<%= item.image_url %>"
                alt="<%= item.name %>"
              />
            </p>

            <div class="buttons">
              <a class="delete" href="/items/<%= item.id %>/delete"
                >Delete Item</a
              >
              <a class="update" href="/items/<%= item.id %>/edit"
                >Update Item</a
              >
            </div>
          </li>
          <% }) %>
        </ul>
      </main>
    </div>
    <script src="/javascript/dropdown.js" defer></script>
  </body>
</html>
