<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items List</title>
  </head>
  <body>
    <ul>
      <% items.forEach((item) => { %>
      <li class="item">
        <h1>Item: <%= item.name %></h1>
        <h2>Price: <%= item.price %>$</h2>
        <p>Description: <%= item.description %></p>
        <h2>Stock Quantity: <%= item.stock_quantity %></h2>
        <img src="<%= item.image_url %>" alt="image of <%= item.name %>" />
        <a href="/items/<%= item.id %>/delete">Delete item</a>
        <a href="/items/<%= item.id %>/edit">Update item</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
