<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body>
     <div class="container">
         <%- include('partials/header') %>
         <main class="form-main">
    <form   class="add-generic-form" action="/items/<%= item.id %>/edit" method="post">
        <label class="generic-label"  for="name">Name:</label>
        <input class="add-input" type="text" id="name" name="name" value="<%= item.name %>" required>


        
        <label class="generic-label"  for="description">Description:</label>
        <textarea class="add-input" id="description" name="description" required><%= item.description %></textarea>

         <label class="generic-label"  for="price">Price:</label>
        <input class="add-input" type="number" id="price" name="price" value="<%= item.price %>" step="0.01" required>

        <label class="generic-label"   for="stock_quantity">Stock Quantity:</label>
        <input class="add-input" type="number" id="stock_quantity" name="stock_quantity" value="<%= item.stock_quantity %>" required>

        <label class="generic-label"  for="category_id">Category:</label>
        <select id="category_id" name="category_id" required>
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>" <%= category.id === item.category_id ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
        </select>

        <label class="generic-label"  for="manufacturer_id">Manufacturer:</label>
        <select id="manufacturer_id" name="manufacturer_id" required>
            <% manufacturers.forEach(manufacturer => { %>
            <option value="<%= manufacturer.id %>" <%= manufacturer.id === item.manufacturer_id ? 'selected' : '' %>><%= manufacturer.name %></option>
            <% }) %>
        </select>

        <label class="generic-label"  for="type_id">Type:</label>
        <select id="type_id" name="type_id" required>
            <% types.forEach(type => { %>
            <option value="<%= type.id %>" <%= type.id === item.type_id ? 'selected' : '' %>><%= type.name %></option>
            <% }) %>
        </select>

        <label class="generic-label"  for="image_url">Image URL:</label>
        <input class="add-input" type="text" id="image_url" name="image_url" value="<%= item.image_url %>" required>

        <%- include('partials/password') %>
        <% if (errors) { %>
            <div class="errors">
                <% errors.forEach(error => { %>
                    <p><%= error.msg %></p>
                <% }) %>
            </div>
        <% } %>

        <button class="submit-btn" type="submit">Update Item</button>
    </form>
    </main>
    </div>
     <script src="/javascript/dropdown.js" defer></script>
</body>
</html>