<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items List</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="list-main">
        <ul class="list">
          <% items.forEach((item) => { %>
          <li class="list-item">
            <h1 class="heading">Item: <%= item.name %></h1>
            <h2 class="description">Price: <%= item.price %>$</h2>
            <p><%= item.description %></p>
            <h2 class="description">
              Stock Quantity: <%= item.stock_quantity %>
            </h2>
            <img
              class="img"
              src="<%= item.image_url %>"
              alt="image of <%= item.name %>"
            />
            <div class="buttons">
              <a class="delete" href="/items/<%= item.id %>/delete"
                >Delete Item</a
              >
              <a class="update" href="/items/<%= item.id %>/edit"
                >Update Item</a
              >
            </div>
          </li>
          <% }) %>
        </ul>
      </main>
    </div>
  </body>
</html>
