<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manufacturers List</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="list-main">
        <ul class="list">
          <% manufacturers.forEach((manufacturer) => { %>
          <li class="list-item">
            <h1 class="heading">Manufacturer: <%= manufacturer.name %></h1>
            <h2 class="description">Country: <%= manufacturer.country %></h2>
            <img
              class="img"
              src="<%= manufacturer.image_url %>"
              alt="Image of <%= manufacturer.name %>"
            />
            <div class="buttons">
              <a
                class="delete"
                href="/manufacturers/<%= manufacturer.id %>/delete"
                >Delete Item</a
              >
              <a
                class="update"
                href="/manufacturers/<%= manufacturer.id %>/edit"
                >Update Item</a
              >
            </div>
          </li>
          <% }) %>
        </ul>
      </main>
    </div>
    <script src="/javascript/dropdown.js" defer></script>
  </body>
</html>
