<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manufacturers List</title>
  </head>
  <body>
    <ul>
      <% manufacturers.forEach((manufacturer) => { %>
      <li class="manufacturer">
        <h1>Manufacturer: <%= manufacturer.name %></h1>
        <h2>Country: <%= manufacturer.country %></h2>
        <img
          src="<%= manufacturer.image_url %>"
          alt="Image of <%= manufacturer.name %>"
        />
        <form
          action="/manufacturers/<%= manufacturer.id %>/delete"
          method="post"
        >
          <button type="submit">Delete manufacturer</button>
        </form>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
