<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manufacturers List</title>
  </head>
  <body>
    <a href="/manufacturers/new">Create new manufacturer</a>
    <ul>
      <% manufacturers.forEach((manufacturer) => { %>
      <li class="manufacturer">
        <h1>Manufacturer: <%= manufacturer.name %></h1>
        <h2>Country: <%= manufacturer.country %></h2>
        <img
          src="<%= manufacturer.image_url %>"
          alt="Image of <%= manufacturer.name %>"
        />
        <a href="/manufacturers/<%= manufacturer.id %>"
          >Show items by manufacturer</a
        >
        <a href="/manufacturers/<%= manufacturer.id %>/delete"
          >Delete Manufacturer</a
        >
        <a href="/manufacturers/<%= manufacturer.id %>/edit"
          >Update Manufacturer</a
        >
      </li>
      <% }) %>
    </ul>
  </body>
</html>
