<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Type</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>
      <main class="form-main">
        <form
          class="add-generic-form"
          action="/manufacturers/<%= manufacturer.id %>/edit"
          method="post"
        >
          <label class="generic-label" for="name">Name:</label>
          <input
            class="add-input"
            type="text"
            id="name"
            name="name"
            value="<%= manufacturer.name %>"
            required
          />

          <label class="generic-label" for="country">Country:</label>
          <input
            class="add-input"
            id="country"
            name="country"
            value="<%= manufacturer.country %>"
            required
          />

          <label class="generic-label" for="image_url">Image URL:</label>
          <input
            class="add-input"
            type="text"
            id="image_url"
            name="image_url"
            value="<%= manufacturer.image_url %>"
            required
          />

          <%- include('partials/password') %> <% if (errors) { %>
          <div class="errors">
            <% errors.forEach(error => { %>
            <p><%= error.msg %></p>
            <% }) %>
          </div>
          <% } %>

          <button class="submit-btn" type="submit">Update Manufacturer</button>
        </form>
      </main>
    </div>
    <script src="/javascript/dropdown.js" defer></script>
  </body>
</html>
