<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Type</title>
  </head>
  <body>
    <form action="/types/<%= type.id %>/edit" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= type.name %>"
        required
      />

      <label for="description">Description:</label>
      <textarea id="description" name="description" required>
<%= type.description %></textarea
      >

      <label for="image_url">Image URL:</label>
      <input
        type="text"
        id="image_url"
        name="image_url"
        value="<%= type.image_url %>"
        required
      />

      <%- include('partials/password') %> <% if (errors) { %>
      <div class="errors">
        <% errors.forEach(error => { %>
        <p><%= error.msg %></p>
        <% }) %>
      </div>
      <% } %>

      <button type="submit">Update Type</button>
    </form>
  </body>
</html>
