<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Types list</title>
  </head>
  <body>
    <a href="/types/new">Create new type</a>
    <ul>
      <% types.forEach((type) => { %>
      <li class="type">
        <h1>Type: <%= type.name %></h1>
        <h2><%= type.description %></h2>
        <img src="<%= type.image_url %>" alt="Image of <%= type.name %>" />
        <a href="/types/<%= type.id %>/delete">Delete Type</a>
        <a href="/types/<%= type.id %>/edit">Update Type</a>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
